@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
  font-family: "Geist", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Urbanist", sans-serif;
}

@keyframes marquee-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes marquee-down {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-marquee-up {
  animation: marquee-up 30s linear infinite;
}

.animate-marquee-down {
  animation: marquee-down 30s linear infinite;
}

.animate-marquee-up:hover,
.animate-marquee-down:hover {
  animation-play-state: paused;
}